
body {
  background-color: #212936;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #374151;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #4b5563;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

